Api/App_Data/Web.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="premiarClubeSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="authorization">
          <xs:complexType>
            <xs:attribute name="subscriptionKey" type="xs:string" use="required" />
            <xs:attribute name="clientId" type="xs:string" use="required" />
            <xs:attribute name="clientSecret" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="credentials">
          <xs:complexType>
            <xs:attribute name="campaignId" type="xs:unsignedShort" use="required" />
            <xs:attribute name="clientId" type="xs:int" use="required" />
            <xs:attribute name="catalogId" type="xs:int" use="required" />
            <xs:attribute name="profileId" type="xs:int" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>